[submodule "viktorlab-fork"]
	path = viktorlab-fork
	url = https://github.com/iansjk/viktorlab-fork.git
[submodule "src/viktorlab-fork"]
	path = src/viktorlab-fork
	url = https://github.com/iansjk/viktorlab-fork.git
